services:
  host:
    build:
      context: .
      dockerfile: Company.Ecommerce/Dockerfile
    container_name: company-ecommerce-host
    ports:
      - "8080:8080"
      - "8081:8081"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - EVENTS_DB_CONNECTION=Server=db;Database=EventsDb;User Id=sa;Password=YourStrong!Passw0rd;Encrypt=false;
    depends_on:
      - db

  db:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: company-ecommerce-db
    environment:
      SA_PASSWORD: "YourStrong!Passw0rd"
      ACCEPT_EULA: "Y"
    ports:
      - "1433:1433"
    volumes:
      - dbdata:/var/opt/mssql

volumes:
  dbdata: